body {
	font-family: Roboto,Helvetica Neue,Arial,sans-serif;
	font-size: 12px;
	width: 1440px;
	margin: auto;
	color: #aaa;
	margin-top: 5px;
	background-color: #222;
}

#info {
	width: 400px;
	height: 204px;
	float: left;
	border: 1px solid #999;
}

#periodselect {
	width: 100%;
	border-bottom: 1px solid #999;
	cursor: pointer;
}

#periodselect .permark {
	cursor: default;
}

#valselect {
	width: 100%;
	border-bottom: 1px solid #999;
}

#valselect td {
	width: 50%;
}

#graphsel {
	width: 100%;
}

#graphsel td:nth-child(2)	{
	text-align: right;
}

.permark {
	color: #000;
	background-color: #999;
}

#country {
	width: 390px;
	height: 206px;
	float: left;
}

#lang {
	width: 300px;
	height: 206px;
	float: left;
}

#genre {
	width: 330px;
	height: 206px;
	float: left;
}

#game {
	width: 400px;
	height: 400px;
	float: left;
}

.scroll {
	overflow-y: scroll;
	height: 180px;
}

#gamescroll {
	overflow-y: scroll;
	height: 700px;
}

input[type="text"] {
	margin-left: 30px;
	border: none;
	border-bottom: 1px solid #999;
	background-color: #222;
	color: #999;
}

input[type="text"]:focus {
	outline: none;
	background-color: #333;
}

.tablist td:nth-child(n+2) {
	text-align: right;
	padding: 0px 10px;
}

.tablist tr {
	cursor: pointer;
}

.tablist tr:hover {
	background-color: #333;
}

.tablist {
	border: 0px;
	border-collapse: collapse;
}

#country td:nth-child(1) {
	max-width: 256px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#game td:nth-child(1) {
	max-width: 270px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#filter {
	width: 990px;
	float: left;
	background-color: #525;
	height: 15px;
	padding-left: 4px;
}

#filtclear  {
	float: right;
	padding-right: 5px;
	font-size: 14px;
	color: #ddd;
	cursor: pointer;
}

.clearstr {
	padding-left: 5px;
	color: #ddd;
	cursor: pointer;
}

.bulbs span	span {
	background-color: #c22;
	padding: 0px 6px;
	margin: 0px 3px;
	border-radius: 4px;
	color: #ddd;
	font-size: 11px;
	cursor: pointer;
}

#graph {
	width: 990px;
	height: 700px;
	background-color: #224;
	float: left;
}

#legend {
	position: absolute;
	background-color: rgba(64, 32, 64, 0.8);
	color: #999;
	padding: 10px;
	border: 1px solid #999;
	border-radius: 5px;
}

.legendhead {
	border-bottom: 1px solid #bbb;
	color: #ccc;
	padding-bottom: 4px;
}

#legend td:nth-child(n+3) {
	text-align: right;
}

input[type="radio"] {
	border: 0px;
	height: 12px;
}

