body {
	font-family: Roboto,Helvetica Neue,Arial,sans-serif;
	font-size: 12px;
	width: 1440px;
	margin: auto;
	color: #aaa;
	margin-top: 5px;
	background-color: #222;
}

#infodiv {
	width: 256px;
	float: left;
	border: 1px solid #999;
}

#periodselect {
	width: 100%;
	border-bottom: 1px solid #999;
}

#valselect {
	width: 100%;
	border-bottom: 1px solid #999;
}

#valselect td {
	width: 50%;
}

#graphsel {
	width: 100%;
}

.permark {
	color: #000;
	background-color: #999;
}

#country {
	width: 390px;
	float: left;
}

#lang {
	width: 390px;
	float: left;
}

#genre {
	width: 390px;
	float: left;
}
